<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.ncepu.researchplatform.mapper.MaterialMapper">

    <resultMap id="BaseResultMap" type="cn.edu.ncepu.researchplatform.entity.Material">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="peopleId" column="people_id" jdbcType="INTEGER"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="area" column="area" jdbcType="OTHER"/>
            <result property="flag" column="flag" jdbcType="INTEGER"/>
            <result property="gmtCreate" column="gmt_create" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,people_id,content,
        area,flag,gmt_create
    </sql>
</mapper>
